out.wav
*/target/*
code-guessing/analytics/people
*.aux
*.log
*.blg
*latexmk
*.fls
*.bbl
*.out
*.gz
*/counts.csv
*/counts-old.csv
*/*.png
*.zst
tacnet.sqlite3
basic
basic.png
complex
complex.png
minecraft_images
comparisons.jsonl
nouns_cache.db
nouns.json
*.scad
